body{
    background: url('../img/school.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    overflow-x: hidden;
    background-attachment: fixed;
    
    
    /* background-position: 50% 50%;  */
}

/* ================================================ */


/* NAVBAR DESIGNS */
#logo{
    width: 150px;
    height: auto;
}

.nav-item{
    font-size: 20px;
}

.nav-link{
    color: white;
    transition: all 0.5s;
}

.nav-link:hover{
    color: #68c2e8;
}

.nav{
    background: rgba(76, 76, 100,0.5);
    color: white;
    font-family: 'Open Sans', sans-serif;
}



#hello-img{
position: absolute;
right: 8%;
width: 60px;
height: auto;
border-radius: 100px;
}

.links{
    padding: 30px;
}

#logged-user{
    position: absolute;
    right: 10%;
    padding: 15px;
    width: 400px;
    text-align: center;

}

#logout{
    position: absolute;
    right: 0;
}
/* ================================================ */


/* INFO NAV DISPLAY */

#rowHeaders{
    background: #0d1d3f;
    color: white;
    height: 60px;
    padding: 11px;
    font-family: 'Open Sans', sans-serif;
}

.add-btn{
    color: #68c2e8;
    cursor: pointer;
    transition: all 0.2s;
}

.add-btn:hover{
    color: white;
}

.center-head{
    text-align: center;
}

/* ================================================ */


/* CONTENT AND LISTS DISPLAY */

.list-group-item{
    
    background: rgba(255, 255, 255, 0.5);
}

#courseList,#studentList{
    color: rgba(76, 76, 100,0.8);  
    overflow:hidden; 
    overflow-y:auto;
    height:380px;
    cursor: pointer;
    font-family: 'Mukta', sans-serif;
}

.li-image{
    display: inline-block;
    width: 70px;
    height: auto;
    border-radius: 100px;
}

.adm-image{
    width: 70px;
    border-radius: 100px;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 16%;
    right: 5%;
}

.li-text{
    display: inline-block;
    padding-left: 20px;
}

/* ================================================ */


/* OVERVIEW CARD DISPLAY */
.tiny-img{
width: 30px;
display: inline-block;
position: absolute;
left: 35%;
border-radius: 100px;
}

#img{
    width: 200px;
    height: auto;
    border-radius: 100px;
}
.card{
    font-family: 'Mukta', sans-serif;
    text-align: center;
    height: 380px;
    overflow-y: auto;
    padding: 20px;
    background: rgba(104, 194, 232, 0.2);
    border: none;
}

.card-body{
    padding: 0;
    font-size: 20px;
    color: rgba(45, 45, 58, 0.9);
}

.enrolled{
    text-align: center;
    font-weight: bold;
}

.span-del,.span-edit{
    margin: 10px;
    position: absolute;
    top: 10px;
    cursor: pointer;
}
/* .btn-success,.btn-danger{
 
} */

.span-edit{
    left: 10px;
    transition: all 0.3s;
}
.span-edit:hover{
color: darkgreen;
}

.span-del{
    right: 10px;
    transition: all 0.3s;
}

.span-del:hover{
     color: darkred;
}

/* ================================================ */


/* FORMS DESIGN AND DISPLAY */

form{
    margin: 0 auto;
   font-family: 'Mukta', sans-serif;
}

#courseForm{
    width: 95%;
}
#studentForm{
    width: 80%;
}
#adminForm{
    width: 90%;
}

.inputfile{
   background: #0ae;
   padding: 10px;
   margin-top: 25px;
   width: 90%;
   color: white;
   border-radius: 100px;
   cursor: pointer;
}

.inputfilec{
    background: #0ae;
    padding: 10px;
    margin-top: 25px;
    width: 180px;
    color: white;
    border-radius: 100px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}
.btn-secondary{
margin: 0 auto;
}

.form-group{
    text-align: center;

}

 .imgPreview{
    border-radius: 100px;
    width: 130px;
    height: auto;
}

.ferror{
color: red;
margin: 0 auto;
}

.choises{
    border: 2px solid transparent;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    background: rgba(104, 194, 232, 0.8);
    width: 200px;
    transition: all 0.5s;
}

.choises:hover{
    border: 1px solid white;
}

/* ================================================ */



/* GLOBAL */


.errorr{
    color: red;
    text-align: center;
}


.copy{
    color: white;
    text-align: center;
    margin: 0 auto;
}

/* MODAL */

.modal-header{
    background: rgba(104, 194, 232, 0.6);
}


/* SCROLLER DESIGN*/
.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}


#courseList::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#courseList::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#courseList::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}


#studentList::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#studentList::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#studentList::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}



.card::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.card::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.card::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

/* END SCROLLER */

