body{
    background: url('../img/school.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    overflow-x: hidden;
    background-attachment: fixed;
    
    
    /* background-position: 50% 50%;  */
}

/* ================================================ */


/* NAVBAR DESIGNS */
#logo{
    width: 150px;
    height: auto;
}

.nav-item{
    font-size: 20px;
}

.nav-link{
    color: white;
}

.nav{
    background: rgba(76, 76, 100,0.5);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#hello-user{
    position: absolute;
    right: 12%;
}

.links{
    padding: 30px;
}

#logged-user{
    padding: 15px;
}

#logout{
    position: absolute;
    right: 0;
}
/* ================================================ */


/* INFO NAV DISPLAY */

#rowHeaders{
    background: rgba(104, 194, 232, 0.8);
    color: white;
    height: 60px;
    padding: 11px;
}

.center-head{
    text-align: center;
}

/* ================================================ */


/* CONTENT AND LISTS DISPLAY */

.list-group-item{
    background: rgba(255, 255, 255, 0.5);
}

#courseList,#studentList{
    color: rgba(76, 76, 100,0.8);  
    overflow:hidden; 
    overflow-y:auto;
    height:380px;
}

.li-image{
    display: inline-block;
    width: 70px;
    height: auto;
}

.adm-image{
    width: 70px;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 16%;
    right: 5%;
}

.li-text{
    display: inline-block;
    padding-left: 20px;
}

/* ================================================ */


/* OVERVIEW CARD DISPLAY */
.tiny-img{
width: 30px;
display: inline-block;
position: absolute;
left: 37%;
}

#img{
    width: 150px;
}
.card{
    text-align: center;
    height: 380px;
    overflow-y: auto;
    padding: 20px;
    background: rgba(104, 194, 232, 0.2);
    border: none;
}

.enrolled{
    text-align: center;
}

.btn-success,.btn-danger{
    margin: 10px;
    position: absolute;
    top: 10px;
}

.btn-success{
    left: 10px;
}

.btn-danger{
    right: 10px;
}

/* ================================================ */


/* FORMS DESIGN AND DISPLAY */

form{
    margin: 0 auto;
   
}

.form-group{
    text-align: center;

}

 .imgPreview{
    border-radius: 50px;
    width: 100px;
    height: auto;
}

/* ================================================ */




/* GLOBAL */


.errorr{
    color: red;
    text-align: center;
}


.copy{
    color: white;
    text-align: center;
    margin: 0 auto;
}

/* MODAL */

.modal-header{
    background: rgba(104, 194, 232, 0.6);
}


/* SCROLLER DESIGN*/
.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}


#courseList::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#courseList::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#courseList::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}


#studentList::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#studentList::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#studentList::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}



.card::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.card::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.card::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

/* END SCROLLER */