
body{
    background: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%; 
}

#rowHeaders{
    background: rgba(104, 194, 232, 0.8);
    color: white;
    height: 60px;
    padding: 10px;
}

#logo{
    width: 150px;
    height: auto;
}

form{
  
    margin: 0 auto;
}

#courseList,#studentList{
    
    color: rgba(76, 76, 100,0.8);
    /* font-weight: bold; */
  
}

.center-head{
    text-align: center;
}

.nav-link{
    color: white;
}


.li-image{
    display: inline-block;
    width: 70px;
    height: auto;
    /* float: left; */
}

.li-text{
    display: inline-block;
    padding-left: 20px;
}

#imgPreview{
    width: 100px;
    height:auto;
}

/*navbar*/

.nav{
    background: rgba(76, 76, 100,0.5);
    color: white;
}

#img{
    width: 100px;
}
.card{
    text-align: center;
    padding: 20px;
    background: rgba(104, 194, 232, 0.2);
    border: none;
}
#studentForm,#courseForm{
    text-align: center;
}

#studentList,#courseList{
    overflow:hidden; 
    overflow-y:scroll;
    height:400px;
}

.center{
    text-align: center;
}
/* .form-group{
display: inline-block;
} */

.btn-success,.btn-danger{
    margin: 10px;
    position: absolute;
    top: 10px;
}

.enrolled{
    text-align: center;
}

.btn-success{
    left: 0;
}

.btn-danger{
    right: 0;
}

.imgPreview{
    width: 100px;
    height: auto;
}

#hello-user{
    position: absolute;
    right: 10%;
}

/* MODAL */
.modal-title{
text-align: center;
}

.list-group-item{
    background: rgba(255, 255, 255, 0.5);
}

/* {
   padding: 30px;
} */

.links,#logged-user{
    padding: 30px;
}

.errorr{
    color: red;
    text-align: center;
}

#logout{
    position: absolute;
    right: 0;
}

.copy{
    color: white;
    text-align: center;
    margin: 0 auto;
}